/* Asegura que la página ocupe toda la pantalla */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Ajusta la altura del carrusel */
.carousel img {
    height: 100vh;
    object-fit: cover;
}

/* Carrusel de fondo con filtro oscuro */
#carouselBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Lo envía detrás del contenido */
}

/* Filtro oscuro sobre el carrusel */
#carouselBackground::after {
    content: ''; /* Necesario para generar la capa */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60); /* Filtro oscuro con 50% de opacidad */
    z-index: 1; /* Asegura que esté sobre las imágenes del carrusel, pero debajo del contenido */
}

/* Capa superpuesta para el contenido */
.overlay {
    position: relative;
    z-index: 10;
    color: white;
    text-align: center;
    display: flex; /* Asegura que los elementos dentro de la capa se alineen con flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Asegura que la capa ocupe toda la altura de la ventana */
}

/* Estilo del título */
.title {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Estilos de los botones */
.buttons {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botón "No" que se moverá */
.no-btn {
    position: relative;
    transition: top 0.3s, left 0.3s;
}

/* GIF de reacción */
.reaction-gif {
    width: 150px;
    margin-bottom: 15px;
}
.gif {
    width: 200px; /* Tamaño ajustable */
    height: auto;
}

/* GIFs decorativos */
.gif-small {
    width: 80px; /* Tamaño ajustable */
    height: auto;
}

/* Mensaje de amor */
.love-message {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Estilos para las imágenes del álbum */
.album-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1 / 1; /* Mantiene proporción cuadrada */
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    object-fit: cover;
}